.order {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  background-color: #FFF;
  padding: 10px 20px;
  text-align: center;
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}
